<h1><%= @user.username %>'s Profile Page</h1>
<% unless @user == current_user %>
    <%= link_to "Follow", follower_following_relationship_path(current_user, @user), method: :post %>
    <%= link_to "Unfollow", follower_following_relationship_path(current_user, @user), method: :delete %>
<% end %>

<p>Followers: <%= @user.followers.count %></p>
<p>Following: <%= @user.following.count %></p>