<h1><%= @user.username.capitalize %>'s Profile Page</h1>
<% unless @user == current_user %>
    <%= form_with(model: @relationship, url: follower_following_relationship_path(current_user, @user), method: :post) do |f| %>
        <%= f.hidden_field :follower_id, value: current_user.id %>
        <%= f.hidden_field :followed_id, value: @user.id %>
        <%= f.submit "Follow" %>
    <% end %>
    <%= form_with(model: @relationship, url: follower_following_relationship_path(current_user, @user), method: :delete) do |f| %>
        <%= f.hidden_field :follower_id, value: current_user.id %>
        <%= f.hidden_field :followed_id, value: @user.id %>
        <%= f.submit "Unfollow" %>
    <% end %>
<% end %>

<p>Followers: <%= @user.followers.count %></p>
<p>Following: <%= @user.following.count %></p>