<%= render 'editors/codemirror' %>

<h1 class="chatroom-title"><%= @chatroom.title %> Chatroom - Created By: <%= @chatroom.user.username.capitalize %></h1>
<div class="chatroom-buttons">
    <div class="editor-buttons">
        <button class="close-editor-btn">
            Close Editor
        </button>
        <!-- In Order: Maximize; Minimize; Default; -->
        <button class="change-editor-btn">
            Change Editor State
        </button>
        <%= form_with(model: @editor, url: chatroom_editors_path(@chatroom), method: :post, class: "save-editor-form") do |f| %>
            <%= f.hidden_field :content, class: "save-editor-content-input", value: "#{ @last_editor.content }" %>
            <%= f.submit "Save", class: "save-editor-btn" %>
        <% end %>
        <% unless @last_editor.nil? %>
            <p>Last Save: <%= @last_editor.created_at.strftime("%I:%M %p, %b %e, %Y") %></p>
        <% end %>
    </div>
    <div class="chatroom-box-buttons">
        <button class="close-chat-btn">
            Close Chat
        </button>
        <!-- In Order: Maximize; Minimize; Default; -->
        <button class="change-chat-btn">
            Change Chat State
        </button>
    </div>
</div>
    <div class="chatroom-container">
        <div class="editor-box"></div>
        <div class="chatroom-wrapper">
            <div class="chatroom-box">
                <% @messages.each do |message| %>
                    <div class="message-box">
                        <%= render 'messages/message', message: message %>
                    </div>
                <% end %>
            </div>
            <!--<div class="message-form-container">-->
                <div class="message-form-box">
                    <%= form_with(model: @message, url: chatroom_messages_path(@chatroom), method: :post, class: "message-form") do |f| %>
                        <%= f.text_area :content, class: "textarea message-text-area" %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.file_field :images, multiple: true %>
                        <%= f.submit "Send", class: "button is-primary message-submit-button" %>
                    <% end %>
                </div>
            <!--</div>-->
        </div>
    </div>